{% extends 'base.html.twig' %}

{% block title %}Modifier contact{% endblock %}

{% block body %}
    <div class="col-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}