{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("index.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}