{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("index.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <h2>Messages envoyés</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Recipient</th>
            <th>Subject</th>
            <th>Message</th>
        </tr>
        {% for email in emails %}
            <tr>

                    <td>{{ email.date | date ('d M') }}</td>
                    <td>{{ email.recipient }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.message }}</td>
                    <td><a href="{{ path('showbyid', {id : email.id}) }}">Voir le mail</a></td>
                    <td><a href="{{ path('delete_email', {id : email.id}) }}">Supprimer le mail</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
