{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("index.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {{ mail.recipient }} - {{ mail.sender }} - {{ mail.subject }} - {{ mail.message }}
    <a href="{{ path('index') }}">Retour</a>
{% endblock %}